body {
  font-family: 'Hind Vadodara', sans-serif;
  padding: 30px;
  padding-top: 0;
  color: #fff;
  background: #3c3c3c;
}


h3.s-lc-ea-h3 {
    margin-top: 0;
    background: #fc0;
    color: black;
    padding: 10px 15px;
    width: 290px;
    text-transform: uppercase;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
li {
  padding-bottom: 15px;
}
li .s-lc-ea-date,  {
  color: #42afb6;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.4em;
}
td.s-lc-ea-l /*Hide Label column*/ {
  display: none;
}
tr.s-lc-ea-tdes /*Hide event description*/ {
  display: none;
}
tr.tcam /*Hide campus */ {
  display: none;
}
tr.s-lc-ea-tcat /*Hide category */ {
  display: none;
}
table.s-lc-ea-tb /*Add space between events*/ {
  margin-top: 20px;
  margin-left: 40px;
}
/* Specific to table display for classes and events*/
div#api_upc_cid4113_7130_iid3393 {
  margin-left: 32px;
}
table.s-lc-ea-tb {
  margin-left: 11px;
}
tr {height: 23px;}
td {line-height: 1.2em;}
